<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact us </title>
    <style>
        body{
        font-family:aerial, sens-serif;
        background:#f2f2f2;
        text-align:center;
        padding:50px;
        }

        .container{
        background:white;
        padding:20px;
        border-radius:8px;
        width:400px;
        margin:auto;
        box-shadow: 0px 0px 10px gray;
        }

        h1{
        color:#333;
        }

        p{
        font-size:16px;
        color:#666;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1> contact us </h1>
        <p><strong>email:</strong>support@restaurant.com</p>
        <p><strong>phone:</strong>+999999999</p>
        <p><strong>address:</strong>mg road,banglore, india</p>
    </div>
</body>
</html>